<!--
type Person struct {
	FirstName 	string
	LastName  	string
	DOB			    string
	Occupation	string
}


type Film struct {
	ImdbID		string
	Title		  string
	Year		  string
	Director	string
	Genre	  	string
	Rating		string
	Plot	  	string
	Type	  	string
}
-->
<head>
  <title>{{.Title}} @ LFDB</title>
  <meta charset="UTF-8">
</head>
  <h1>{{.Title}}</h1>
  <h2>by {{.Director}}</h2>

  <ul>
    <li>{{.Runtime}}</li>
    <li>released in {{.Year}} in {{.Country}}</li>
    <li>Genre: {{.Genre}} </li>
    <li>Current rating: {{.Rating}}</li>
    {{if eq .Type "series"}}
    <li>it is a TV series</li>
    {{end}}
  </ul>

  <h2>Synopsis:</h2>
  <p>{{.Plot}}</p>

  <h2>Similar films:</h2>
  <p>shows up to 3 similar films (based on keywords) locally</p>

  <h2>More online:</h2>
  <p>shows more films online on IMDB</p>
{{template "Footer"}}
