<!--
type Person struct {
	FirstName 	string
	LastName	string
	DOB			string
	Occupation	string
}

type Film struct {
	FilmID		int
	Title		string
	Year		int
	Director	Person
	Genre		string
	Rating 		float32
	Plotpoints	[]string
	Series		bool
}
-->
<head>
  <title>{{.Title}} @ LFDB</title>
  <meta charset="UTF-8">
</head>
  <h1>{{.Title}}</h1>
  <h2>by {{.Director.FirstName}} {{.Director.LastName}}</h2>

  <ul>
    <li>premiered in {{.Year}}</li>
    <li>{{.Genre}} genre</li>
    <li>Current rating: {{.Rating}}</li>
    <li>Key plotpoints: {{.Plotpoints}}</li>
    {{if .Series}}
    <li>it is a TV series</li>
    {{end}}
  </ul>

  <h2>Synopsis:</h2>
  <p>short description of the film taken from IMDB</p>

  <h2>Similar films:</h2>
  <p>shows up to 3 similar films (based on keywords) locally</p>

  <h2>More online:</h2>
  <p>shows more films online on IMDB</p>
{{template "Footer"}}
